{% extends ':inventory:base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-6">
            <h1>{{ 'inventory.storage.list.header'|trans }}</h1>
        </div>
        <div class="col-lg-6 text-right">
            <a id="inventory-storage-create" href="{{ url('dumplie_inventory_new') }}" class="btn btn-primary">{{ 'inventory.storage.list.create'|trans }}</a>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            {{ dumplie_render(inventory) }}
            <div class="container">
                <div class="col-lg-6"></div>
                <div class="col-lg-6 text-right"><strong>{{ 'inventory.storage.list.total'|trans }} {{ totalCount }}</strong></div>
            </div>
        </div>
    </div>
{% endblock %}
