{% extends ':inventory:base.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-6">
            <h2>{{ 'inventory.storage.add.header'|trans }}</h2>
        </div>
        <div class="col-lg-6">
        </div>
    </div>
    <div class="row">
        {{ form_start(form) }}
        <div class="col-lg-6">
            {{ form_row(form.sku) }}
            {{ form_row(form.price) }}
            {{ form_row(form.available) }}
        </div>
        <div class="col-lg-6">
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="{{ 'inventory.storage.form.save'|trans }}">
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
